name: todo-monorepo

services:
  api:
    build:
      context: ./api
    container_name: todo-api
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGODB_URI=mongodb://root:root@192.168.0.3:27017/todo_api?authSource=admin
      - LOG_LEVEL=debug
    restart: unless-stopped
    networks:
      - todo-net

  frontend:
    build:
      context: ./frontend
    container_name: todo-app
    restart: unless-stopped
    networks:
      - todo-net

  nginx:
    image: nginx:alpine
    container_name: todo-nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - frontend
    restart: unless-stopped
    networks:
      - todo-net

networks:
  todo-net:
    driver: bridge
